.container-fixed-tabbar {
  padding: 90px 20px 20px 20px;
  flex: 1 1 100%;
  margin: 0 auto;
  max-width: 500px;
  background-color: #fff;
}

@media only screen and (min-width: 600px) {
  .container-fixed-tabbar {
    padding: 100px 64px 64px 64px;
    margin-bottom: 4px;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(37, 50, 81, 0.08);
  }
}
